@charset "urf-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;300;400;500;700;900&family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');
@import url('https://webfontworld.github.io/pretendard/Pretendard.css');
html {
	font-size: 15px;
}

body {
	font-family: 'Pretendard';
}

#wrap {
	overflow: hidden;

}

* {
	user-select: none;
}

img {
	display: block;
}

legend {
	display: none;
}

ul,
ol {
	list-style: none;
}

a {
	text-decoration: none;
}

/* /////////////////////////////////////////////////////////////////// */

#container #section1 {
    width: 100vw;
    position: relative;
    background-color: #000;
    }
    
    #section1 .s1_img {
    background: url(../img/img3.png) no-repeat;
    width: 100vw;
    height: 50vh;
    background-position: center center;
    background-size: cover;
    opacity: 50%;
    }
    #section1 .s1_text {
     width: 1000px;
    margin: 0 auto;
     position: absolute;
     top: 88%;
     left: 50%;
    transform: translate(-50%,-50%);
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
    }
    .s1_text h1 {
        font-size: 40px;
    }
    .s1_text .responsive-title {
        display: none;
    }
    .s1_text p {
        font-size: 1rem;
         margin-top: 2%;  
        font-weight: 300;
    }
    .s1_text p span {
        font-weight: bold;
    }
    .s1_text p a {
        color: #fff;
    }
    /* ////////////////////sectiont2/////////////////////////////// */
    #section2  {
        width: 100%;
        margin-top: 100px;
        margin-bottom: 20px;   
    }
    #section2 .s2_cont {
        width: 1000px;
        margin: 0 auto;
        position: relative;
        border-bottom: 2px solid #f1f1f1;
        padding-bottom: 100px;
    }
    .s2_cont .s2_bgtext {
        font-size: 150px;
        font-weight: bold;
        position: absolute;
        top: 40%;
        left: 38%;
        letter-spacing: 10px;
        transform: translate(-50%,-50%);
        color: #f3f3f3;
        z-index: 1;
        animation: s2animate2 2.3s 1 forwards;
        opacity: 0;
        animation-delay: 0.2s; 
     
    }

    .s2_cont .contentBx {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 1000px;   
    }
    .s2_cont .contentBx .visualBx {
        z-index: 2;
        width: 450px;
        animation: s2animate1 3s;
        
    }
    .contentBx .visualBx img {
        width: 100%;
       
    }
    .contentBx .textBx {
        z-index: 2;
        width: 450px;
        font-size: 18px;
        text-align: end;
        
    }
    .textBx .text1 {
        margin-bottom: 70px;
        animation: s2animate1 3s 1;
    }
    .text1 .border {
        width: 100px;
        background-color: rgb(0, 0, 0);
        height: 1px;   
        margin: 20px 0;
        display: inline-block;
    }
    .text1 h2 {
        font-size: 30px;
    }
    .textBx .text2 {
        animation: s2animate3 2.3s forwards;
        opacity: 0;
        animation-delay: 1s; 
        
    }
    .textBx .text2 p {
        margin-bottom: 20px;

    }
    /* //////////////////////////////////////section2////////////////////// */
    [data-aos="new-animation"] {
        opacity: 0;
        transition-property: transform, opacity;
        transform: translateY(5%);
    }
        .aos-animate {
          opacity: 1;
          transform: translateY(0%);
        }
    
    #section3 .s3_cont {
        width: 1000px;
        margin: 0 auto;
        margin-bottom: 10%;
    }
    .s3_cont .contentBx {
        margin-top: 100px;
        position: relative;
    }
    .contentBx .iconBx {
        position: absolute;
        top: 80%;
        left: 48%;
        transform: translate(-50%,-50%);
        z-index: 1;
    }
    .iconBx img {
        width: 150px;
    }
    .contentBx .content-inner{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .content-inner .textbx {
        width: 500px;
        z-index: 2;
        font-size: 18px;
    }
    .textbx .titleBx {
        display: flex;
        font-size: 25px;
    }
    .titleBx h2 {
        margin-left: 5px;
        font-weight: 400;
        margin-bottom: 20px;
    }
    .textbx li {
        list-style:disc;
        margin-top: 10px;
        line-height: 25px;
        margin-left: 20px;
    }
    .content-inner .visualBx {
        width: 450px;
        z-index: 2;
    }
    .content-inner .visualBx img {
        height: 350px;
    }
    /* /////////////////////////////animation/////////////// */
    @keyframes s2animate1 {
        0% {
     
           opacity: 0;
         
          
        }
        100% {
            
            opacity: 1;
         
        }
    }
    
    @keyframes s2animate2 {
        0% {
     
           opacity: 0;
          top: 45%;
        }
       
        100% {
            top: 40%;
            opacity: 1;
        
        }
    }
    @keyframes s2animate3 {
        0% {
     
           opacity: 0;
            transform: translateY(10%);
        }
        100% {
            
            opacity: 1;
            transform: translateY(0%);
        }
    }
/* /////////////////////반응형///////////////////// */
    @media screen and (max-width: 479px) {
      /* /////////section1////////// */
        #section1 .s1_img {
            height: 40vh;
            }
            #section1 .s1_text {
            top: 80%;
            width: 80vw;
            }
            .s1_text .title {
                display: none;
            }
            .s1_text .responsive-title {
                display: block;
                font-size: 30px;
            }
            .s1_text p {
               display: none;
            }

            /* ////////////section2////////// */
            #section2  {
                margin-top: 50px;
                margin-bottom: 0px;   
            }
            #section2 .s2_cont {
                width: 80vw;
                border-bottom: none;
                padding-bottom: 0px;
            }
            .s2_cont .s2_bgtext {
                left: 20%;
                font-size: 120px;
            }
        
            .s2_cont .contentBx {
                width: 80vw;  
            }
            .contentBx .visualBx {
                display: none;
            }
            .contentBx .textBx {
                font-size: 15px;
                text-align: center;
            }
            .textBx .text1 {
                margin-bottom: 50px;
            }
            .textBx .text2 p {
                line-height: 25px;
                
            }
            /* /////////section3///////////// */
            #section3 .s3_cont {
                width: 100vw;
                margin-bottom: 0;
                margin-top: 10%;
            }
            .s3_cont .contentBx {
                height: 450px;
                position: relative;
                margin-top: 0px !important;
            }
            .s3_cont .contentBx .bg_glass {
                background-color: #000;
                opacity: 0.5;
                width: 100vw;
                height: 100%;

            }
            .s3_cont .contentBx1 {
               
                background: url(/company/Ethics/img/mobile\(bg1\).jpg);
                background-position: center center;
                background-size: cover;
            }
            .s3_cont .contentBx2 {
               
                background: url(/company/Ethics/img/mobile\(bg2\).jpg);
                background-position: center center;
                background-size: cover;
               
            }
            .s3_cont .contentBx3 {
               
                background: url(/company/Ethics/img/mobile\(bg3\).jpg);
                background-position: center center;
                background-size: cover;
            }
            .s3_cont .contentBx4 {
              
                background: url(/company/Ethics/img/mobile\(bg4\).jpg);
                background-position: center center;
                background-size: cover;
            }
            .contentBx .iconBx {
               display: none;
            }
            .contentBx .content-inner {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%,-50%);
                width: 80vw;
                height: 350px;
            }
            .content-inner .textbx {
                z-index: 2;
                color: #fff;
                width: 80vw;
            }
            .textbx .titleBx {
                display: flex;
                font-size: 18px;
            }
            .titleBx h2 {
                margin-bottom: 5px;  
            }
            .textbx li {
                line-height: 20px;
                margin-left: 20px;
                font-size: 15px;
            }
            .content-inner .visualBx {
                display: none;
            }
          
        }