@charset "urf-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;300;400;500;700;900&family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');
@import url('https://webfontworld.github.io/pretendard/Pretendard.css');
html {
	font-size: 15px;
}

body {
	font-family: 'Pretendard';
}

#wrap {
	overflow: hidden;

}

* {
	user-select: none;
}

img {
	display: block;
}

legend {
	display: none;
}

ul,
ol {
	list-style: none;
}

a {
	text-decoration: none;
}
/* /////////////////////////////////////////////////////////////////// */


#container #section1 {
width: 100vw;
background-color: #000;
position: relative;
}

#section1 .s1_img {
background: url(../img/img1.jpg) no-repeat;
width: 100vw;
height: 60vh;
background-position: center center;
background-size: cover;
opacity: 50%;
}
#section1 .s1_text {
 width: 950px;
margin: 0 auto;
 position: absolute;
 top: 88%;
 left: 50%;
transform: translate(-50%,-50%);
display: flex;
justify-content: space-between;
align-items: center;
color: #fff;
}
.s1_text h1 {
    font-size: 40px;
}
.s1_text p {
    font-size: 1rem;
           margin-top: 2%;  
           font-weight: 300;
}
.s1_text p span {
    font-weight: bold;
}
.s1_text p a {
    color: #fff;
}
/* ////////////////////sectiont2/////////////////////////////// */


#container #section2 {
width: 950px;
margin: 5% auto;
margin-bottom: 10%;
}
#section2 .s2_slogan {
    font-size: 18px;
    line-height: 30px;
    font-weight: 500;
    margin-bottom: 10%;
}
#section2 .s2_slogan_responsive {
    display: none;
}
#section2 .partner {
    width: 1000px;
    margin: 0 auto;
    border: 1px solid #ccc;
    margin-top: 2%;
}
.partner .partnercont  {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 950px;
    margin: 0 auto;
    height: 20vh;
}
#section2 .partner .partnercont img {
  width: 200px;
  margin-left: 50px;
}
#section2 .partner1 .partnercont img {
  width: 250px;
  margin-left: 22px;
}
.partner .partnercont p {
    font-size: 18px;
    line-height: 30px;
    width: 100%;
    margin-right: 50px;
    margin-left: 70px;
}
.partner1 .partnercont p {
    margin-left: 47px;
}

/* ////////////////////responsive///////////////////////////////////////// */

@media screen and (max-width: 480px) {
   
   /* /////////////////////////section1/////////////////////////// */
        
        #section1 .s1_img {
        height: 40vh;
        }
        #section1 .s1_text {
        top: 80%;
        width: 80vw;
        }
        .s1_text h1 {
            font-size: 30px;
        }
        .s1_text p {
           display: none;
        }
      
/* /////////////////////////section2/////////////////////////// */
#container #section2 {
    width: 100vw;
    margin: 5% auto;
    }
    #section2 .s2_slogan {
       display: none;
    }
    #section2 .s2_slogan_responsive {
        display: block;
        font-size: 15px;
        line-height: 25px;
        width: 80vw;
        margin: 10% auto;
font-weight: 500;
    }
    #section2 .partner {
        width: 100vw;
        border-right: none;
        border-left: none;
        margin-top: 5%;
        
    }
    
    .partner .partnercont  {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 90vw;
      margin: 0 auto;
      padding: 10px 0;
      height: auto;
    }
    .partner1 .partnercont p {
      margin-left: 70px;
   }
    #section2 .partner1 .partnercont img {
        width: 30vw;
        margin-left: 2%;
    }
    #section2 .partner .partnercont img {
        width: 25vw;
        margin-left: 5%;
    }
    .partner .partnercont p {
        font-size: 14px;
        line-height: 20px;
        margin-right: 20px;
        width: 50vw;
    }


}